.boxa {
 		margin-top: 20rpx;
 		padding-bottom: 100rpx;
 	}
 
 	.nar {
 		background-color: white;
 		margin-top: 1px;
		border-bottom: 1px solid #e4e4e6;
 	}
 
 	.nars {
 		display: flex;
 		justify-content: space-between;
 		width: 90%;
 		margin-left: 5%;
 		font-size: 14px;
 		color: #3b4144;
 		padding: 12px 0;
 	}
 
 	.phone {
 		color: #009648;
 	}
	
	.btn{
		margin-top: 30px;
		background-color: #56bdaa;
		border-radius: 20px;
		width: 80%;
		margin-left: 10%;
	}
	.qd{
		text-align: center;
		padding: 20rpx 0;
		color: white;
	}